<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="com.mysql.jdbc.Driver"
          p:url="jdbc:mysql://115.159.197.215:3306/easyspace"
          p:username="sb"
          p:password="sb1234567890"/>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQL5InnoDBDialect
                </prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="connection.autocommit">true</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <!--添加此句报异常：createQuery is not valid without active transaction
                 在spring的类LocalSessionFactoryBean源码，
                 方法buildSessionFactory中将hibernate.current_session_context_class设
                 为org.springframework.orm.hibernate5.SpringSessionContext
                <prop key="hibernate.current_session_context_class">thread</prop> -->

                <!--<prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext</prop>
                Could not obtain transaction-synchronized Session for current thread-->

            </props>
        </property>

        <property name="packagesToScan">
            <list>
                <value>cn.mk95.www.bean</value><!-- 加载hibernate的jpa注解形式的实体类 -->
            </list>
        </property>
    </bean>


    <bean id="userDao" class="cn.mk95.www.dao.UserDaoImpl" p:sessionFactory-ref="sessionFactory"/>
    <bean id="albumDao" class="cn.mk95.www.dao.AlbumDaoImpl" p:sessionFactory-ref="sessionFactory"/>
    <bean id="commentDao" class="cn.mk95.www.dao.CommentDaoImpl" p:sessionFactory-ref="sessionFactory"/>
    <bean id="emailYzDao" class="cn.mk95.www.dao.EmailYzDaoImpl" p:sessionFactory-ref="sessionFactory"/>
    <bean id="friendDao" class="cn.mk95.www.dao.FriendDaoImpl" p:sessionFactory-ref="sessionFactory"/>
    <bean id="messageDao" class="cn.mk95.www.dao.MessageDaoImpl" p:sessionFactory-ref="sessionFactory"/>
    <bean id="noteDao" class="cn.mk95.www.dao.NoteDaoImpl" p:sessionFactory-ref="sessionFactory"/>
    <bean id="registerYzDao" class="cn.mk95.www.dao.RegisterYzDaoImpl" p:sessionFactory-ref="sessionFactory"/>
    <bean id="shareDao" class="cn.mk95.www.dao.ShareDaoImpl" p:sessionFactory-ref="sessionFactory"/>
    <!-- 配置Spring声明式事务 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <!-- 配置事务属性 -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*" />
        </tx:attributes>
    </tx:advice>
    <!-- 配置事务切点，并把切点和事务属性关联起来 -->
    <aop:config>
        <aop:pointcut expression="execution(* cn.mk95.www.dao.*.*(..))" id="txPointcut"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>
    </aop:config>


    <import resource="classpath:y_springConfig.xml"/>
    <import resource="classpath:h_springConfig.xml"/>
</beans>